@import url('./asset.css');

.wrap {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5%;

    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;

    z-index: 1000;
    background-color: var(--theme-color);
}

.start {
    width: 3.5%;
} 

.start > img {
    margin: auto;
    height: 100%;
} 

.tail {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0.5%;
    border-left: solid 1px rgb(124, 124, 124);
}

/***********************************************/

.task {
    width: 3.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.task > img {
    height: 50%;
}

.task:hover {
    background-color: var(--hover-color);
}

.task::after {
    content: "";
    
    position: absolute;
    
    width: 3%;
    height: 7%;

    bottom: 0;

    background-color: red;
}

.task::after:hover {
    content: "";
    
    background-color: blue;
}


/***********************************************/

.search {
    width: 20%;

    border: solid 3px rgba(255, 255, 255, 0.922);
    background-color: rgba(255, 255, 255, 0.922);
    
    display: flex;
    align-items: center;
    justify-content: left;

    padding-left: 1%;
}

.search:hover {
    border: solid 3px rgb(192, 192, 192);
    background-color: white;
}

.search > img {
    height: 40%;
    margin-right: 4%;
}

.search > input {
    height: 90%;
    width: 100%;
    border: none;
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0);
}

.search > input:focus {
    outline: none;
}

/***********************************************/

.time {
    position: absolute;
    right: 0.5%;
    width: 6.5%;
    height: 100%;

    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;

    padding-bottom: 0.1%;
} 
