@import url('./asset.css');

* {
    --nav-bg: rgb(205, 205, 205);
    --nav-hv: rgb(184, 184, 184);

    --nav-height: min(4vh, calc(4vw / 1.7));
}

.wind {
    position: absolute;

    width: 50%;
    height: 50%;

    left: 25%;
    top:  5%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    box-shadow: 0px 0px 2px 1px rgb(65, 65, 65);

    overflow: hidden;
}

/***********************************************/

iframe {
    height: 100%;
    width: 100%;

    border: none;
    background-color: white;
}

.cover {
    position: absolute;

    top: var(--nav-height); 

    height: 100%;
    width: 100%;
    display: none;
    /* background-color: red; */
}

/***********************************************/

.resizer {
    --width: 3px;
    --size: 6px;

    position: absolute;
}

.top {
    top: 0;
    height: var(--width);
    width:  100%;
    
}

.bottom {
    bottom: 0;
    height: var(--width);
    width:  100%;
    
}

.left {
    top:  0;
    left: 0;
    width:  var(--width);
    height: 100%;
    
}

.right {
    top:  0;
    right: 0;
    width:  var(--width);
    height: 100%;
    
}

.top-left {
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    
}

.top-right {
    top: 0;
    right: 0;
    width: var(--size);
    height: var(--size);
    
}

.bottom-left {
    left: 0;
    bottom: 0;
    width: var(--size);
    height: var(--size);
    
}

.bottom-right {
    right: 0;
    bottom: 0;
    width: var(--size);
    height: var(--size);
    
}

/***********************************************/

